* {
    box-sizing: border-box;
    font-family: fredoka,arial;
}

body{
    background: radial-gradient(circle, bisque, rgb(253, 214, 165));;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 65px;
}

main{
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: 70vw;
    min-width: 300px;
    gap: 10px;
}

/* kiri */

.main-left{
    flex: 2 2 200px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: white;
    aspect-ratio: 1/1;
    width: 70%;
    padding: 5px;
}

.cart-container{
    width: 100%;
    min-height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-container{
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    gap: 10px;
}
.product-image{
    display: flex;
    aspect-ratio: 1/1;
    height: 70px;
}

.product-right{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}
.product-name{
    font-weight: bolder;
}

.product-bot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
}

.quantity{
    display: flex;
    gap: 5px;
    height: 100%;
}

.quantity-left{
    display: flex;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    border-radius: 25px;
    overflow: hidden;
    align-items: center;
}

.quantity-button{
    background-color: white;
    border: none;
    cursor: pointer;
}
.quantity-button:active{
    opacity: 0.5;
}
.quantity-right{
    overflow: hidden;
}

.delete-button{
    height: 20px;
    display: flex;
    align-items: center;
    border: none;
    background-color: white;
    cursor: pointer;
}
.delete-button:active{
    transform: translate(1px,1px);
}

.delete-image{
    height: 20px;
}

.product-price{
    font-weight: bolder;
}

/* summary */

.main-right{
    flex: 1 1 100px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: white;
    aspect-ratio: 1/1;
    width: 30%;
    height: 30%;
    padding: 5px;
}

.summary{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.summary-top{
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
    border-bottom: 1px solid gray;
}
.summary-title{
    font-weight: bold;
}

.summary-inform{
    display: flex;
    justify-content: space-between;
}

.summary-bot{
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.summary-total{
    display: flex;
    justify-content: space-between;
}

.item-total-price{
    text-align: right;
}
.tax-total-price{
    text-align: right;
}

.order-button{
    border-radius: 25px;
    border: none;
    background-color: #C49B6C;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
}
.order-button:active{
    transform: translate(1px,1px);
}